fastapi==0.103.0
pydantic==2.0.3
pydantic-settings
email-validator==2.2.0
dnspython==2.7.0
idna==3.10
qrcode[pil]==7.3
jinja2
python-multipart
uvicorn==0.23.2
psycopg2-binary==2.9.7
python-jose==3.3.0
sqlalchemy==2.0.28
python-dotenv==1.0.0
passlib==1.7.4
cryptography==41.0.7
psutil==5.9.5
httpx==0.25.2
python-dateutil==2.8.2
pyotp==2.9.0
